name: Populate vcpkg cache
on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
permissions:
  packages: write
jobs:
  populate:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          submodules: true
      - uses: ./.github/actions/configure-environment
        with:
          arch: ${{inputs.arch}}
          github_token: ${{secrets.GITHUB_TOKEN}}
      - name: Cache vcpkg artifacts
        run: third-party/vcpkg/vcpkg install --triplet ${{inputs.arch}}-windows-static